@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: rem(300);
  height: rem(50);
  padding-top: rem(3);
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #4D9600;
  border: 1px solid #4D9600; 
  transition: background-color 0.5s ease, color 0.5s ease; /* なめらかに変化 */
}
.c-button:hover{
  color: #4D9600;
  background-color: #FFFFFF;
}
.c-button__submit{
  font-size: rem(20);
  font-weight: 600;
  line-height: calc(33 / 20);
}