@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.c-top-btn{
  position: fixed;
  right: rem(60);
  bottom: rem(60);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(68);
  height: rem(68);
  border-radius: 50%;
  background-color: #4D9600;

  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;

  transition: opacity 1s ease-in-out;
  @include sp {
    right: rem(20);
    bottom: rem(60);
    width: rem(50);
    height: rem(50);
  }
}
.c-top-btn::before{
  content: "";
  display: block;
  width: rem(20); // 画像サイズに合わせて調整
  height: rem(20);
  background-image: url("../images/icon-arrow-pc.png"); // 矢印画像のパス
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include sp {
    background-image: url("../images/icon-arrow-sp.png"); // 矢印画像のパス
}

}
.c-top-btn:hover{
  opacity: 0.6;
}
/*.activeクラス付与で表示する*/
.active{
  opacity: 1;
  visibility: visible;
}

// .c-top-btn::before{
//  content: "";
//   position: absolute;
//   display: block;
//   width: rem(23.15);
//   height: rem(15.7);
//   background-image: url("../images/icon-to-top.png"); /* 画像のパス */
//   background-size: contain;
//   background-repeat: no-repeat;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%); /* 完全に中央配置 */
//   z-index: 99999;
// }





