@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.p-about {
  position: relative;
  overflow: hidden;
  aspect-ratio: 54 / 25; /* 横2160px × 縦1000px (2.16 : 1)*/
  box-sizing: border-box; // パディング込みで比率を計算
  display: flex;
  align-items: center;
  @include sp {
    aspect-ratio: 375 / 584; /* 横750px × 縦1168px (0.642 : 1)*/
  }
}
.p-about__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.p-about__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include sp {
    flex-direction: row;
  }
}
.p-about-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 28%;
  writing-mode: vertical-rl; /* 右から左への縦書き */
  text-orientation: upright; /* 文字を縦向きに揃える */
  color: #000;
  @include sp {
    padding-right: 0;
    flex-direction: row;
    gap: rem(28);
  }
}
.p-about-message__title{
  margin-top: rem(6);//9.27
  margin-left: rem(45);
  font-size: rem(30);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.167em;
  @include media(830px) {
    margin-left: rem(37);
    font-size: rem(28);
  }
  @include sp {
    margin-left: 0;
    font-size: rem(25);
  }
  @include media(340px) {
    font-size: rem(20);
  }
}
.p-about-message__text{
  @include sp {
    min-height: rem(220); // 長文時の高さ確保に
  }
}
.p-about-message__text p{
  margin-left: rem(30);
  font-size: rem(18);
  line-height: 2.66;//微調整
  letter-spacing: 0.4em;
  @include media(830px) {
    font-size: rem(16);
    line-height: 2.4;//微調整
  }
  @include sp {
    margin-left: rem(10);
    font-size: rem(16);
    line-height: 2;//16px*125%/10
    line-height: 1.6;//微調整
    letter-spacing: rem(4);
  }
}
.p-about-message__text p:last-child{
  margin-left: 0;
}
