@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;

.p-about {
  position: relative;
  overflow: hidden;
  aspect-ratio: 54 / 25; /* 横2160px × 縦1000px (2.16 : 1)*/
  box-sizing: border-box; // パディング込みで比率を計算
  display: flex;
  align-items: center;
  @include sp {
    aspect-ratio: 375 / 584; /* 横750px × 縦1168px (0.642 : 1)*/
  }
}
.p-about__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.p-about__inner {
  position: absolute;
  // left: -14%;
  // padding-right: 60%;
  /* アニメーションによる transform 上書きを防ぐため */
  transform: translateX(-14%) !important;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl; /* 右から左への縦書き */
  text-orientation: upright; /* 文字を縦向きに揃える */
  // transform: rotate(0deg); /* 調整が必要なら回転も可能 */
  color: #000;
  @include sp {
    // left: 0;
    // padding-right: 0;
    /* アニメーションによる transform 上書きを防ぐため */
    transform: translateX(0) !important;
    flex-direction: row;
    gap: rem(28);
  }
}
.p-about h2{
  margin-left: rem(47);
  font-size: rem(30);
  line-height: 1;
  letter-spacing: 0.167em;/*118%微調整*/
  @include media(830px) {
    margin-left: rem(37);
    font-size: rem(28);
  }
  @include sp {
    margin-left: 0;
    font-size: rem(25);
  }
  @include media(340px) {
    font-size: rem(20);
  }
}
.p-about-inner__text{
  @include sp {
    min-height: rem(220); // 長文時の高さ確保に
  }
}
.p-about p{
  margin-left: rem(30);
  font-size: rem(18);
  line-height: 2.64;//微調整
  letter-spacing: 0.4em;/*137％微調整*/
  @include media(830px) {
    font-size: rem(16);
    line-height: 2.4;//微調整
  }
  @include sp {
    margin-left: rem(10);
    font-size: rem(16);
    line-height: 2;//16px*125%/10
    line-height: 1.6;//微調整
    letter-spacing: rem(4);
  }
}
.p-about p:last-child{
  margin-left: 0;
}
