@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.p-contact{
  margin-top: rem(-2);/*微調整*/
  color: #000000;
  background-color: rgba(77, 150, 0, 0.1);
}
.p-contact__headline{
  margin-bottom: rem(35);
}
.p-contact__message{
  // margin-top: rem(-33);
  margin-bottom: rem(70);
  padding: 0 rem(60);
  text-align: left;
  font-size: rem(20);
  /*font-weight: 500;*/
  line-height: calc(33 / 20);
  @include sp {
    padding-left: 0;
    padding-right: 0;
    margin-top: rem(-3);
    margin-bottom: rem(40);
  }
}
.p-contact__form{
  padding-left: rem(60);
  padding-right: rem(60);
  @include sp {
    padding-left: 0;
    padding-right: 0;
  }
}





