@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.p-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 常に4枠分の列を確保
  gap: 4.347%;
  @include sp {
     grid-template-columns: 1fr; // SPサイズ：1列
    gap: rem(20);/*微調整/*/
   }
}

.p-card__item {
  flex: 1;
  overflow: hidden;
}
.p-card__item:hover{
  cursor:pointer;
}

.p-card__img {
  margin-bottom: rem(19);
  overflow: hidden;
  aspect-ratio: 1 / 1;
  @include sp {
    margin-bottom: rem(9.7);//微調整9.26
    aspect-ratio: 315 / 250;
  }
}
.p-card__img img {
  height: auto;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
.p-card__item:hover .p-card__img img {
  transform: scale(1.1); /* ホバー時に少し拡大 */
}  

.p-card__title{
  font-size: rem(16);
  color: #000000;
  // transition: color 0.3s ease;10.4
  transition: opacity 0.3s ease;
}
.p-card__item:hover .p-card__title{
  // color: rgba(0, 0, 0, 0.6);10.4
  opacity: 0.6;
}
