@use '../../foundation/function' as *; // function.scss を使用
@use '../../foundation/mixin' as *;

// .p-company{
//     margin-top: rem(-2);/*微調整*/
// }

.p-company-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  @include sp {
    flex-direction: column;
  }

}
//地図
.p-company-details__map {
  // flex: 0 0 65.217%;
  width: 65.217%;
  padding-bottom: rem(62);
  max-width: 600px;
  z-index: 1;
  @include sp {
    max-width: 100%;
    width: 100%;
    padding-bottom: rem(19);
    margin: 0 auto;
  }
}
.p-company-details__map iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2; /* 幅600px高さ400pxの比率を維持 */
  @include sp {
    // aspect-ratio: 7 / 6;
    aspect-ratio: 21 / 20; // 315:300 = 21:20
  }

}
//テキスト
.p-company-details__info {
  display: flex;
  flex-direction: column;
  // align-items: flex-end;//10.2
  // flex: 1; /*34.782%*/
  width: 54.347%;
  margin-left: -19.565%;
  padding-top: rem(48.5);//微調整
  padding-bottom: rem(42);
  padding-left: 24%;//10.2
  padding-right: rem(5);//10.2
  color: #ffffff;
  background-color: #4D9600;
  @include sp {
    width: 100%;
    padding: rem(19) rem(12) rem(20) rem(20);
    // padding-top: rem(19);
    // padding-bottom: rem(12);
    // padding-left: rem(20);
    // padding-right: rem(20);
  }
}

.p-company-details__company-name,
.p-company-details__access{
  width: rem(280);
  @include sp {
    width: 100%;
  }
  @media (min-width: 768px) and (max-width: 979px) {
    width: rem(220);/*微調整*/
  }

}
.p-company-details__company-name{
  margin-bottom: rem(7);
  font-size: rem(20);
  /*font-weight: 600;*/
  line-height: calc(33 / 20);
}
.p-company-details__access{
  font-size: rem(16);
  /*font-weight: 600;*/
  line-height: calc(25 / 16);
  @media (min-width: 768px) and (max-width: 979px) {
    font-size: rem(14);
  }

}
.p-company-details__address{
  margin-bottom: rem(12);
}
.p-company-details__tel{
  margin-bottom: rem(16.5);//微調整9.29
}
.p-company-details__tel span:nth-of-type(2){
  display: inline-block;
  font-size: rem(25);
  line-height: calc(25/25); /* 親要素の line-height を継承 */
  letter-spacing: -0.02em;
  @media (min-width: 768px) and (max-width: 979px) {
    font-size: rem(20);
  }
}
.p-company-details__mail span{
  display: inline-block;
  margin-right: rem(12); // 全角1文字ぶん
}


/*メール*/
.c-mail-link {
  color: inherit;
  // text-decoration: underline;
  transition: opacity 0.3s ease;
}
.c-mail-link:hover {
  opacity: 0.6;
}
/*電話*/
.c-tel-link {
  pointer-events: none;
  color: inherit;
  vertical-align: middle;
  // text-decoration: none;
}
@media (max-width: 767px) {
  .c-tel-link {
    pointer-events: auto;
    transition: opacity 0.3s ease;
    // text-decoration: underline;
    // color: #0077cc;
  }
  .c-tel-link:hover {
    opacity: 0.6;
  }
}
