@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.p-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.p-footer__menu-container{
  width: 100%;
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include sp {
    padding-top: rem(50);
    padding-bottom: rem(50);
  }

}
.p-footer__menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 782px;//722px+30px+30px
  width: 100%;
  // height: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.p-footer__logo{
  position: relative;
  height:100%;
  width: 100%;
  margin-bottom: rem(28);
  padding-bottom: rem(28);
  @include sp {
    margin-bottom: rem(20);
    padding-bottom: rem(20);
  }

}
.p-footer__logo::after{
  position: absolute;
  content: '';
  width: 100% ;
  height: 1px ;
  left: 0;
  bottom: 0;
  background-color: #000000;
}
.p-footer__logo a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: rem(20);
  /*font-weight: 500;*/
  line-height: calc(33 / 20);
  transition: opacity 0.3s ease-in-out;
}
.p-footer__nav-menu{
  max-width: 710px;
  width: 100%;
  height: 100%;
  margin-bottom: rem(26);
  @include sp {
    margin-bottom: rem(28);
  }

}
.p-footer__menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  @include sp {
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: rem(20);
    row-gap: rem(4);
  }
}
.p-footer__sns-menu{
  gap: rem(30);
}
.p-footer__sns-menu img{
  width: rem(28);
}
.p-footer__menu a{
  display: flex;
  align-items: center;
  height: 100%;
  font-size: rem(18);
  /*font-weight: 500;*/
  line-height: calc(33 / 18);
  transition: opacity 0.3s ease-in-out;

}
.p-footer__logo a:hover,
.p-footer__menu a:hover{
  // text-decoration: underline;
  color: rgba(0, 0, 0, 0.6)
}
.p-footer__sns-menu a:hover{
  opacity: 0.6;
  // transition: opacity 0.3s ease-in-out;
}
  

//copyright
.p-footer .p-footer__copyright{
  width: 100%;
  padding-top: rem(30);
  padding-bottom: rem(29);
  font-size: rem(20);
  /*font-weight: 500;*/
  line-height: calc(33 / 20);
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  background-color: #4D9600;
  @include sp {
    padding-top: rem(21);
    padding-bottom: rem(21);
    margin-left: rem(-20);
    line-height: calc(25 / 20);
  }

}
