@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.p-modal {
  display: none;
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);/*50.2%*/
}

/* 画像＆キャプションの枠 */
.p-modal__content {
  position: relative;
  max-width: rem(450);
  padding: rem(15) rem(15) rem(5) rem(15);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: #fff;
  text-align: center;
  @include sp {
    max-width: calc(100% - rem(60));
  }

}

.p-modal__img {
  width: 100%;
  height: auto;
}

.p-modal__caption {
  margin-top: rem(5);
  color: #000000;
  text-align: left;
}

/* 閉じるボタン */
.p-modal__close {
  position: absolute;
  top: rem(3);
  right: rem(3);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background: transparent;
  color: #000000;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.p-modal__close:hover {
  opacity: 0.6;
}

/* オーバーレイ内に別エリアを用意してクリックで閉じる */
.p-modal__overlay {
  position: fixed;
  inset: 0;
}

