@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.p-news{
  background-color: rgba(77, 150, 0, 0.1);
  color: rgba(0, 0, 0, 1);
}
.p-news__headline{
  margin-bottom: rem(67);//微調整9.26
  @include sp {
    margin-bottom: rem(38);/*微調整*/
  }
}

.p-news__item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  @include sp {
    flex-direction: column;
  }
}
.p-news__content{
  width:46.74%;
  background-color: rgba(255, 255, 255, 1);
  @include sp {
    width: 100%;
  }
}
.p-news__content:first-child{
  @include sp {
    margin-bottom: rem(50);
  }
}
.p-news__title{
  padding: rem(9) rem(20) rem(8) rem(20);
  font-size: rem(20);
  line-height: calc(33 / 20);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(77, 150, 0, 1);
}
.p-news__container{
  padding: rem(10) rem(20) rem(19) rem(20);
}
.p-news__list{
  margin-bottom: rem(17);
}
.p-news__entry{
  position: relative;
}
.p-news__entry::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 1px #55A500;
}
.p-news__entry a{
  display: flex;
  width: 100%;
  padding: rem(16.5) 0;
  column-gap: 17.6%;
  transition: color 0.3s ease-in-out;
  @include sp {
    column-gap: rem(24);
  }
}
.p-news__entry a:hover{
  color: rgba(0, 0, 0, 0.5);
}

.p-news__date{
  font-size: rem(16);
  line-height: calc(25 / 18);/*記事の高さにそろえる*/
  @media (max-width: 340px) {
    font-size: rem(14);
  }
}
.p-news__article{
  font-size: rem(18);
  line-height: calc(25 / 18);
   display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; // ← 2行でカット
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-news__date_last,
.p-news__article_last{
  @include sp {
    margin-bottom: 0;
  }
}
.p-news__more-btn{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  margin-top: rem(27);//微調整9.26
}
.p-news__link {
  display: flex;//9.25
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: rem(15);
  text-decoration: none;
}
