@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.p-news{
  background-color: rgba(77, 150, 0, 0.1);
  color: rgba(0, 0, 0, 1);
}
.p-news__headline{
  margin-bottom: rem(69);/*微調整*/
  // margin-bottom: rem(61);
  @include sp {
    margin-bottom: rem(38);/*微調整*/
  }
}

.p-news__item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // margin-top: rem(-3);/*微調整*/
  width:100%;
  @include sp {
    flex-direction: column;
  }
}
.p-news__content{
  width:46.74%;
  background-color: rgba(255, 255, 255, 1);
  @include sp {
    width: 100%;
  }
}
.p-news__content:first-child{
  @include sp {
    margin-bottom: rem(50);
  }
}
.p-news__title{
  padding: rem(9) rem(20) rem(8) rem(20);
  font-size: rem(20);
  /*font-weight: 600;*/
  line-height: calc(33 / 20);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(77, 150, 0, 1);
}
.p-news__container{
  padding: rem(10) rem(20) rem(24) rem(20);
}
.p-news__entry{
  position: relative;
  // height: rem(83);//9.12
  // padding-top: rem(20);
  // padding-bottom: rem(13);
}
.p-news__entry_last{
  margin-bottom: rem(17);
}
.p-news__entry::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 1px #55A500;
}
.p-news__entry a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: rem(83);//9.12
  // padding-top: rem(20);
  // padding-bottom: rem(13);
  transition: color 0.3s ease-in-out;
  box-sizing: border-box; // パディング込みで高さを計算
}
.p-news__entry a:hover{
  color: rgba(0, 0, 0, 0.5);
}

.p-news__date{
  width: 31.28%;//calc(122 / (122 + 268) * 100%); // 比率を％で計算
  height: rem(50);
  font-size: rem(16);
  /*font-weight: 500;*/
  line-height: calc(33 / 16);
  @include sp {
    width: 20.727%;
  }
  @media (max-width: 340px) {
    font-size: rem(14);
  }
}
.p-news__date_time {
  line-height: calc(25 / 18);/*textと揃える*/
  vertical-align: top;
}
.p-news__article{
  width: 68.72%; // 元の計算: calc(268 / (122 + 268) * 100%)
  height: rem(50);
  font-size: rem(18);
  line-height: calc(25 / 18);

   display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; // ← 2行でカット
  // line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  @include sp {
    width: 73.818%;
  }
  // @media (max-width: 340px) {
  //   font-size: rem(16);
  // }

}
.p-news__date_last,
.p-news__article_last{
  // margin-bottom: rem(17);
  @include sp {
    margin-bottom: 0;
  }
}
.p-news__more-btn{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}
.p-news__link{
  padding-right: rem(33);
}


