@use '../../foundation/function' as *;
@use '../../foundation/mixin' as *;


.p-service{
  background-color: rgba(77, 150, 0, 0.1);
}
.p-service__list{
  display: flex;
  flex-direction: column;
  row-gap: rem(80);
}
.p-service-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  @include sp {
    flex-direction: column;
  }
}


//画像
.p-service-item__img {
  // flex: 0 0 65.217%;ｓ
  width: 65.217%;
  padding-bottom: rem(62);
  padding-bottom: rem(51);
  padding-bottom: rem(49);
  max-width: 600px;
  z-index: 1;
  @include sp {
    width: 100%;;
  }
}
.p-service-item__img img{
  // margin-bottom: rem(19);
  margin-bottom: rem(20);/*微調*/
}
.p-service-item__title{
  font-size: rem(16);
  line-height: calc(25 / 16);
  color: #000000;
}
//テキスト
.p-service-item__caption {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 54.348%;
  margin-left: -19.565%;
  padding-top: rem(50);
  padding-bottom: rem(42);
  color: #ffffff;
  background-color: #4D9600;
  @include sp {
    width: 100%;;
  }
}
.p-service-item__caption-head,
.p-service-item__caption-txt{
  // width: rem(275);
  width: rem(280);/*微調整*/
}
.p-service-item__caption-head{
  margin-bottom: rem(17);
  font-size: rem(25);
  font-weight: 600;
  line-height: calc(33 / 25);
}
.p-service-item__caption-txt{
  font-size: rem(16);
  font-weight: 600;
  line-height: calc(25 / 16);
}


.p-service-item:nth-child(even) {
  @include sp {
    flex-direction: column;
  }
}



.p-service-item:nth-child(even) .p-service-item__title{
  text-align: right;
}
.p-service-item:nth-child(even) .p-service-item__caption {
  margin-left: 0;
  margin-right: -19.565%;
  align-items: flex-start;
  padding-left: rem(40);
  @include sp {
    margin-right: 0;
  }

}

